<p-toast position="top-right" [hideTransitionOptions]="'1000ms'" ></p-toast>
<div class="header">
    <div class="esquerda">
        <a class="redes" href=""><img src="facebook.png" alt="" height="35px"></a>
        <a class="redes" href="https://www.instagram.com/sisaldecetim/" target="_blank"><img src="instagram.png" alt="" height="35px"></a>
        <a class="redes" href=""><img src="whatsapp.png" alt="" height="35px"></a>
        <a class="redes" href=""><img src="call.png" alt="" height="35px"></a>

    </div>
    <div class="meio" (click)="navigateToLoja()">
        <img src="logotipo Sisal de Cetim branco.png" alt="Sisal de Cetim" height="150px" width="250px">
    </div>
    <div class="direita" >
        <p class="conta" >Fazemos produtos <br>Personalizados!!</p>
    </div>
</div>
