.header {
    display: flex;
    background-color:  rgb(194, 161, 118);
    padding: 40px;
    margin: 0px;
    border: 0px;
    justify-content: space-between; 
    width: 100%; 
}

.header h1 {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: italic;
    margin: 0px;
    color: #ffc04a;
}

.header p {
    position: relative;
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-size: 25px;
    font-style: italic;
    color: white;
}

.header p::after {
    content: ""; 
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px; 
    background-color: white; 
    transition: width 0.3s ease; 
  }
  
.header p:hover::after {
    width: 100%; 
  }

.conta{
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.esquerda{
    flex: 20%;
}

.esquerda img{
    padding-left: 10px;
}

.meio{
    flex: 60%;
    cursor: pointer;
    text-align: center;
}


.direita{
    flex: 20%;
    text-align: end;
}


.direita p{
    display: inline;
    padding: 0px;
}


