<div class="header">
    <div class="esquerda">
        <a class="redes" href=""><img src="facebook.png" alt="" height="25px"></a>
        <a class="redes" href="https://www.instagram.com/sisaldecetim/" target="_blank"><img src="instagram.png" alt="" height="25px"></a>
        <a class="redes" href=""><img src="whatsapp.png" alt="" height="25px"></a>
        <a class="redes" href=""><img src="call.png" alt="" height="25px"></a>
        <p style="padding-left: 40px;">Nos visite! ^</p>
    </div>
    <div class="meio">
        <h1>Sisal de cetim</h1>
        <p>Artesanais</p>
    </div>
    <div class="direita">
        <p class="conta">Minha conta</p>
        <p>Carrinho:</p>
        <p>R$0.00</p>
    </div>
</div>
