<div class="footer">
    <div class="circulo"></div>
    <div class="sobre">
        <p style="color: aliceblue;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet impedit sint fugit necessitatibus incidunt ullam iureadadad possimus quidem ipsam aliquid eaque vitae, accusamus rerum, quas iusto repsadadadsellat ipsum voluptatem aliquam.
        Loreadadadsadador exercitationem tempore ad laudantium porro assumenda cupiditate vel, cum ea? Nam adipisci soluta Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta aspernatur iste, mollitia doloribus consequatur asperiores deleniti! Consequuntur sit accusamus amet voluptate, autem est, aperiam dolores deserunt delectus magni consectetur at. Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi suscipit similique alias numquam sit, consequatur minima magni molestiae perspiciatis adipisci incidunt expedita, quo illum aut impedit voluptatibus pariatur voluptates nulla.</p>
    </div>
</div>