<div class="opcoes">
  <div class="divPai">
    <a routerLink="" fragment="home">HOME</a>
  </div>
  <div class="divPai"
       (mouseover)="showMenuVelas()"
       (mouseout)="hideMenuVelas()">
    <a class="menuVelas">LINHA VELAS</a>
    <div class="dropdownVelas" [ngClass]="{'show': isMenuVisibleVelas}">
      <a routerLink="" fragment="aromaticas">PASTILHAS AROMÁTICAS</a>
      <a routerLink="" fragment="decoradas">VELAS DECORADAS</a>
      <a routerLink="" fragment="perfumadas">VELAS PERFUMADAS</a>
    </div>
  </div>
  <div class="divPai"
       (mouseover)="showMenuAromatizadores()"
       (mouseout)="hideMenuAromatizadores()">
    <a class="menuAromatizadores">LINHA AROMATIZADORES</a>
    <div class="dropdownAroma" [ngClass]="{'show': isMenuVisibleAromatizadores}">
      <a routerLink="" fragment="ambiente">DIFUSOR DE AMBIENTE</a>
      <a routerLink="" fragment="spray">HOME SPRAY</a>
      <a routerLink="" fragment="lencol">ÁGUA DE LENÇOL</a>
    </div>
  </div>
  <div class="divPai">
    <a routerLink="" fragment="decoracoes">LINHA DECORAÇÕES</a>
  </div>
  <div class="divPai">
    <a routerLink="" fragment="sobre">SOBRE</a>
  </div>
</div>
  <section id="home">
    <button *ngIf="showBackToTop" (click)="scrollToTop()" id="myBtn">
      <a href="#top" style="color: white"></a><i class="pi pi-arrow-up"></i>
    </button>
    <br />
    <div class="linha-com-texto">
      <div>
        <h1>Destaques da Loja!!</h1>
      </div>
    </div>
    <br />
    <div class="imagem"></div>
    <br />
  </section>

  <section id="aromaticas">
    <div class="linha-com-texto">
      <div>
        <h1>Linha de Pastilhas Aromáticas</h1>
        <p (click)="verLinha(1)">Ver toda linha -></p>
      </div>
    </div>
    <div class="container">
      <div class="carrosel" *ngFor="let pastilhas of velasPastilhas">
        <div class="divImagem">
          <img [src]="pastilhas.imagemUrl" alt="a" width="400px" height="400px" />
        </div>
        <div class="divComprar">
          <h1>{{ pastilhas.nome }}</h1>
          <p>Valor: R${{ pastilhas.preco }}</p>
        </div>
        <div class="divBotao">
          <button class="full-width-button" (click)="navigateToProduto(pastilhas.idProduto)">
            Ver produto
          </button>
        </div>
      </div>
    </div>
    <br />
  </section>

  <section id="decoradas">
    <div class="linha-com-texto">
      <div>
        <h1>Linha de Velas Decoradas</h1>
        <p (click)="verLinha(2)">Ver toda linha -></p>
      </div>
    </div>
    <div class="container">
      <div class="carrosel" *ngFor="let decoradas of velasDecoradas">
        <div class="divImagem">
          <img [src]="decoradas.imagemUrl" alt="a" width="400px" height="400px" />
        </div>
        <div class="divComprar">
          <h1>{{ decoradas.nome }}</h1>
          <p>Valor: R${{ decoradas.preco }}</p>
        </div>
        <div class="divBotao">
          <button class="full-width-button" (click)="navigateToProduto(decoradas.idProduto)">
            Ver produto
          </button>
        </div>
      </div>
    </div>
    <br />
  </section>

  <section id="perfumadas">
    <div class="linha-com-texto">
      <div>
        <h1>Linha de Velas Perfumadas</h1>
        <p (click)="verLinha(3)">Ver toda linha -></p>
      </div>
    </div>
    <div class="container">
      <div class="carrosel" *ngFor="let perfumadas of velasPerfumadas">
        <div class="divImagem">
          <img [src]="perfumadas.imagemUrl" alt="a" width="400px" height="400px" />
        </div>
        <div class="divComprar">
          <h1>{{ perfumadas.nome }}</h1>
          <p>Valor: R${{ perfumadas.preco }}</p>
        </div>
        <div class="divBotao">
          <button class="full-width-button" (click)="navigateToProduto(perfumadas.idProduto)">
            Ver produto
          </button>
        </div>
      </div>
    </div>
    <br />
  </section>

  <section id="ambiente">
    <div class="linha-com-texto">
      <div>
        <h1>Linha de Difusor de Ambiente</h1>
        <p (click)="verLinha(4)">Ver toda linha -></p>
      </div>
    </div>
    <br />
    <div class="container">
      <div class="carrosel"  *ngFor="let ambiente of ambiente">
        <div class="divImagem">
          <img [src]="ambiente.imagemUrl" alt="a" width="400px" height="400px" />
        </div>
        <div class="divComprar">
          <h1>{{ ambiente.nome }}</h1>
          <p>Valor: R$ {{ ambiente.preco }}</p>
        </div>
        <div class="divBotao">
          <button class="full-width-button" (click)="navigateToProduto(ambiente.idProduto)">
            Ver produto
          </button>
        </div>
      </div>
    </div>
    <br/>
  </section>

  <section id="spray">
    <div class="linha-com-texto">
      <div>
        <h1>Linha de Home Spray</h1>
        <p (click)="verLinha(5)">Ver toda linha -></p>
      </div>
    </div>
    <br />
    <div class="container">
      <div class="carrosel"  *ngFor="let homeSpray of homeSpray">
        <div class="divImagem">
          <img [src]="homeSpray.imagemUrl" alt="a" width="400px" height="400px" />
        </div>
        <div class="divComprar">
          <h1>{{ homeSpray.nome }}</h1>
          <p>Valor: R$ {{ homeSpray.preco }}</p>
        </div>
        <div class="divBotao">
          <button class="full-width-button" (click)="navigateToProduto(homeSpray.idProduto)">
            Ver produto
          </button>
        </div>
      </div>
    </div>
    <br />
  </section>

  <section id="lencol">
    <div class="linha-com-texto">
      <div>
        <h1>Linha de Água de lençol</h1>
        <p (click)="verLinha(6)">Ver toda linha -></p>
      </div>
    </div>
    <br />
    <div class="container">
      <div class="carrosel"  *ngFor="let agua of agua">
        <div class="divImagem">
          <img [src]="agua.imagemUrl" alt="a" width="400px" height="400px" />
        </div>
        <div class="divComprar">
          <h1>{{ agua.nome }}</h1>
          <p>Valor: R$ {{ agua.preco }}</p>
        </div>
        <div class="divBotao">
          <button class="full-width-button" (click)="navigateToProduto(agua.idProduto)">
            Ver produto
          </button>
        </div>
      </div>
    </div>
    <br />
  </section>
  
  <section id="decoracoes">
    <div class="linha-com-texto">
      <div>
        <h1>Linha de Decorações</h1>
        <p (click)="verLinha(7)">Ver toda linha -></p>
      </div>
    </div>
    <br />
    <div class="container">
      <div class="carrosel" *ngFor="let decoracoes of decoracoes">
        <div class="divImagem">
          <img [src]="decoracoes.imagemUrl" alt="a" width="400px" height="400px" />
        </div>
        <div class="divComprar">
          <h1>{{ decoracoes.nome }}</h1>
          <p>Valor: R$ {{ decoracoes.preco }}</p>
        </div>
        <div class="divBotao">
          <button class="full-width-button" (click)="navigateToProduto(decoracoes.idProduto)">
            Ver produto
          </button>
        </div>
      </div>
    </div>
    <br />
    <br />
  </section>
  <section id="sobre"></section>