<div class="opcoes">
  <div class="divPai">
    <a routerLink="" fragment="home">HOME</a>
  </div>

  <div class="divPai"
       (mouseover)="showMenuVelas()"
       (mouseout)="hideMenuVelas()">
    <a class="menuVelas">LINHA VELAS</a>
    <div class="dropdownVelas" [ngClass]="{'show': isMenuVisibleVelas}">
      <a href="#opcao1">VELAS PERFUMADAS</a>
      <a href="#opcao2">VELAS DECORAÇÔES</a>
      <a href="#opcao3">VELAS LUMINARIAS</a>
    </div>
  </div>

  <div class="divPai"
       (mouseover)="showMenuAromatizadores()"
       (mouseout)="hideMenuAromatizadores()">
    <a class="menuAromatizadores">LINHA AROMATIZADORES</a>
    <div class="dropdownAroma" [ngClass]="{'show': isMenuVisibleAromatizadores}">
      <a href="#opcao1">AROMATIZADOR AMBIENTE</a>
      <a href="#opcao2">AROMATIZADOR PALITO</a>
      <a href="#opcao3">AROMATIZADOR REFIL</a>
    </div>
  </div>

  <div class="divPai"
       (mouseover)="showMenuDecoracoes()"
       (mouseout)="hideMenuDecoracoes()">
    <a class="menuDecoracoes">LINHA DECORAÇÕES</a>
    <div class="dropdownDeco" [ngClass]="{'show': isMenuVisibleDecoracoes}">
      <a href="#opcao1">DECORAÇÕES ARTESANATOS</a>
      <a href="#opcao2">DECORAÇÕES NATAL</a>
      <a href="#opcao3">DECORAÇÕES REFIL</a>
    </div>
  </div>

  <div class="divPai">
    <a routerLink="" fragment="sobre">SOBRE</a>
  </div>
</div>
  
  <section id="home">
    <button *ngIf="showBackToTop" (click)="scrollToTop()" id="myBtn">
      <a href="#top" style="color: white"></a><i class="pi pi-arrow-up"></i>
    </button>
    <br />
    <div class="linha-com-texto">
      <div>
        <h1>Destaques da Loja!!</h1>
      </div>
    </div>
    <br />
    <div class="imagem"></div>
    <br />
  </section>
  <section id="velas">
    <div class="linha-com-texto">
      <div>
        <h1>Linha de Velas</h1>
        <p>Ver toda linha -></p>
      </div>
    </div>
    <div class="container">
      <div class="carrosel" *ngFor="let velas of velas">
        <div class="divImagem">
          <img [src]="velas.imagemUrl" alt="a" width="100%" height="100%" />
        </div>
        <div class="divComprar">
          <h1>{{ velas.nome }}</h1>
          <p>Valor: R${{ velas.preco }}</p>
        </div>
        <div class="divBotao">
          <button class="full-width-button" (click)="navigateToProduto()">
            Ver produto
          </button>
        </div>
      </div>
    </div>
    <br />
  </section>
  <section id="fragrancias">
    <div class="linha-com-texto">
      <div>
        <h1>Linha de Aromatizadores</h1>
        <p>Ver toda linha -></p>
      </div>
    </div>
    <br />
    <div class="container">
      <div class="carrosel"  *ngFor="let fragrancias of fragrancias">
        <div class="divImagem">
          <img [src]="fragrancias.imagemUrl" alt="a" width="100%" height="100%" />
        </div>
        <div class="divComprar">
          <h1>{{ fragrancias.nome }}</h1>
          <p>Valor: R${{ fragrancias.preco }}</p>
        </div>
        <div class="divBotao">
          <button class="full-width-button" (click)="navigateToProduto()">
            Ver produto
          </button>
        </div>
      </div>
    </div>
    <br />
  </section>
  <section id="artesanatos">
    <div class="linha-com-texto">
      <div>
        <h1>Linha de Artesanatos</h1>
        <p>Ver toda linha -></p>
      </div>
    </div>
    <br />
    <div class="container">
      <div class="carrosel" *ngFor="let artesanatos of artesanatos">
        <div class="divImagem">
          <img [src]="artesanatos.imagemUrl" alt="a" width="100%" height="100%" />
        </div>
        <div class="divComprar">
          <h1>{{ artesanatos.nome }}</h1>
          <p>Valor: R${{ artesanatos.preco }}</p>
        </div>
        <div class="divBotao">
          <button class="full-width-button" (click)="navigateToProduto()">
            Ver produto
          </button>
        </div>
      </div>
    </div>
    <br />
  </section>
  <section id="decoracoes">
    <div class="linha-com-texto">
      <div>
        <h1>Linha de Decorações</h1>
        <p>Ver toda linha -></p>
      </div>
    </div>
    <br />
    <div class="container">
      <div class="carrosel" *ngFor="let decoracoes of decoracoes">
        <div class="divImagem">
          <img [src]="decoracoes.imagemUrl" alt="a" width="100%" height="100%" />
        </div>
        <div class="divComprar">
          <h1>{{ decoracoes.nome }}</h1>
          <p>Valor: R${{ decoracoes.preco }}</p>
        </div>
        <div class="divBotao">
          <button class="full-width-button" (click)="navigateToProduto()">
            Ver produto
          </button>
        </div>
      </div>
    </div>
    <br />
    <br />
  </section>
  <section id="sobre"></section>