.tabs {
  padding-top: 50px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.tab {
  background: transparent;
  border: 2px solid #ffb222;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.tab.active {
  background: black;
  color: white;
}

.tab-content {
  padding: 20px;
  border-radius: 5px;
}







