<p-toast position="top-right" [hideTransitionOptions]="'1000ms'" ></p-toast> 
<div class="palco">  
    <div class="centro">       
        <h1 style="color: black;">Login</h1>

        <p-floatLabel>
            <input pInputText placeholder="voce@gmail.com" id="email"[(ngModel)]="email" name="email" required />
            <label>E-mail</label>
        </p-floatLabel>

        <br><br>

        <p-floatLabel>
            <input pInputText type="password" id="senha" [(ngModel)]="senha" name="senha" required />
            <label for="senha">Senha</label>
        </p-floatLabel>

        <br><br>
        
        <p style="color: black;">Não possui uma conta? <a href="/conta">Crie uma!!</a></p>
        <form (ngSubmit)="realizarLogin()">
                <button type="submit">Entrar</button>
        </form>
    </div>
</div>

<router-outlet></router-outlet>


