.palco{
    display: flex;
    height: 100vh;
    justify-items: center;
    justify-items: center;
    align-items: center;
}

input{
    background-color: white;
    color: black;
}

label{
    color: black;
}

h1{
    margin-top: 40px;
    margin-bottom: 30px;
}

.palco{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

.centro{
    width: 500px;
    height: auto;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 40px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: aliceblue;
}

a{
    color: black;
}

a:hover{
    color: gray;
}

button{
    width: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    background-color: white; 
    color: black; 
    padding: 10px 20px; 
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
  }
 button:hover{
    background-color: gray; 
 }

 input::placeholder{
    color: gray;
  }

  


