.palco{
    display: flex;
    height: 100vh;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

label{
    color: black;
}

h1{
    margin-top: 40px;
    margin-bottom: 30px;
}

.centro{

    width: 500px;
    height: auto;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 40px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

button{
    width: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    background-color: white; 
    color: black; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 8px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
  }
 button:hover{
    background-color: #7ad4f8; 
 }

  


