<p-toast position="top-right" [hideTransitionOptions]="'1000ms'" ></p-toast> 
<div class="palco">  
    <div class="centro">       
        <h1>Criar usuario</h1>

        <p-floatLabel>
            <input pInputText id="username" [(ngModel)]="usuario.nome" name="nome" required />
            <label>Nome</label>
        </p-floatLabel>
        <br><br>
        <p-floatLabel>
            <input pInputText id="username" [(ngModel)]="usuario.apelido" name="apelido" required />
            <label>Apelido</label>
        </p-floatLabel>
        <br><br>
        <p-floatLabel>
            <input pInputText id="username"[(ngModel)]="usuario.email" name="email" required />
            <label>E-mail</label>
        </p-floatLabel>
        <br><br>
        <p-floatLabel>
            <input pInputText id="username"[(ngModel)]="usuario.dataNascimento" name="dataNascimento" required />
            <label>Data de nascimento</label>
        </p-floatLabel>
        <br><br>
        <p-floatLabel>
            <input pInputText id="username" [(ngModel)]="usuario.cpf" name="cpf" required />
            <label>CPF</label>
        </p-floatLabel>
        <br><br>
        <p-floatLabel>
            <input pInputText id="username" [(ngModel)]="usuario.telefone" name="telefone" required />
            <label>Telefone</label>
        </p-floatLabel>
        <br><br>
        <p-floatLabel>
            <input pInputText id="username" [(ngModel)]="usuario.senha" name="senha" required />
            <label>Senha</label>
        </p-floatLabel>
        <br><br>
        <form (ngSubmit)="criarUsuario()">
                <button type="submit">Criar</button>
        </form>

  
    </div>
</div>

<router-outlet></router-outlet>
