<div class="content-login">
    <div>
        <h1>Faça login para entrar como vendedor</h1>
    </div>
    <p-toast position="top-right" [hideTransitionOptions]="'1000ms'" ></p-toast>
    <div class="palco-login">
        <div class="centro-login">
            <h1 style="color: white;">Login</h1>
    
            <p-floatLabel>
                <input pInputText placeholder="voce@gmail.com" id="email"[(ngModel)]="email" name="email" required />
                <label>E-mail</label>
            </p-floatLabel>
    
            <br><br>
    
            <p-floatLabel>
                <input pInputText type="password" id="senha" [(ngModel)]="senha" name="senha" required />
                <label for="senha">Senha</label>
            </p-floatLabel>
    
            <br><br>
            <form (ngSubmit)="realizarLogin()">
                    <button type="submit">Entrar</button>
            </form>
        </div>
    </div>
</div>