.header {
  display: flex;
  background-color: #000000;
  padding: 40px;
  margin: 0px;
  border: 0px;
  justify-content: space-between; 
  width: 100%; 
}

.header h1 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: italic;
  padding: 0px 0px 0px 60px;
  margin: 0px;
  color: #ffc04a;
}

.header p {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: italic;
  margin: 0px;
  color: #ffb222;
}

.meio p{
  padding: 0px 0px 0px 60px;
}

.conta{
  padding-right: 30px;
}

.meio{
  text-align: center;
  flex-grow: 1;
}

.esquerda img{
  padding-left: 10px;
}

.direita p{
  display: inline;
}

.direita{
  text-align: end;
}

.opcoes {
  padding-bottom: 40px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #000000;
}

.opcoes p{
  color: white;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: italic;
  font-size: 20px;
}

.opcoes a {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: italic;
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
  padding: 0 40px; 
  margin: 0px;
}

input[type="text"] {
  width: 300px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: white; 
  color: black; 
  font-size: 16px;
  outline: none; 
}

input[type="text"]::placeholder {
  color: #000; 
}

input[type="text"]:focus {
  border-color: #ffb222; 
  box-shadow: 0 0 8
}

.comprar{
  padding: 50px;
  display: flex;
}

.img{
  height: 700px;
  width: 40%;
  background-color: rgb(133, 133, 133);
  padding-top: 30px;
  border-radius: 10px;
}

.info{
  font-family: "Cormorant Garamond", serif;
  height: 700px;
  width: 60%;
  background-color: black;
  padding: 30px;
  border-radius: 10px;
}

.info h1{
  color: #ffb222;
}

.info .valor{
  color: #ffb222;
}

.info p{
  color: #ffffff;
  font-size: 20px;
}

.informacao{
  font-family: "Cormorant Garamond", serif;
  justify-content: space-around;
  padding: 30px;
  display: flex;
}

.desc{
  height: 400px;
  width: 49%;
  background-color: #000;
  border-radius: 10px;
}

.desc h1{
  color: #ffffff;
  font-size: 50px;
  padding-left: 50px;
}

.desc p{
  color: #ffffff;
  font-size: 20px;
  padding: 50px;
}

.dimensao{
  height: 400px;
  width: 49%;
  background-color: #000;
  border-radius: 10px;
}

.dimensao h1{
  color: #ffffff;
  font-size: 50px;
  padding-left: 50px;
}

.dimensao p{
  color: #ffffff;
  font-size: 20px;
  padding: 15px;
}


.footer{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center; 
  background-color: #000;
  height: 1000px;
}

.circulo{
  height: 400px;
  width: 400px;
  background-color: white;
  border-radius: 100%;
}

.sobre{
  height: 400px;
  width: 900px;
  font-size: 25px;
  padding-left: 70px;
}

.divBotao{
  padding-top: 80px;
}

.full-width-button {
  height: 50px;
  width: 200px;
  font-family: "Cormorant Garamond", serif;
  background-color: white;
  color: #000; 
  border: none; 
  border-radius: 5px; 
  font-size: 25px; 
  cursor: pointer; 
}

.full-width-button:hover {
  background-color: #333; 
}
