<app-header></app-header>
<div class="opcoes">

    <input type="text" placeholder="Pesquisar produtos...">

</div>

<div class="comprar">

    <div class="img"></div>
    <div class="info">

        <h1>Nome do produto...</h1>
        <br>
        <p>Descrição:</p>
        <br>
        <p>descriçao do produto Lorem ipsum, dolor sit Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim unde facere tenetur magnam? Dolorum omnis laudantium blanditiis, quas, quibusdam fugiat, quam enim possimus voluptatibus dicta debitis explicabo! Dolores, eum eveniet? amet consectetur adipisicing elit. Architecto inventore voluptatem, id incidunt veniam praesentium. Aspernatur, ut saepe. Magni sint voluptas ut voluptates, quam deleniti quisquam. Voluptates totam nostrum quidem.</p>
        <br><br><br>
        <h1 class="valor">Valor: R$29,99</h1>
        <br><br>
        <div class="divBotao">
            <button class="full-width-button" (click)="navigateToCarrinho()">Adicionar ao Carrinho</button>
        </div>
    </div>

</div>

<div class="informacao">
    <div class="desc">
        <h1>Descrição:</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate pariatur nulla officiis, eligendi deserunt quod illo expedita vel cum facere asperiores soluta tempore itaque totam, ab explicabo eos consequuntur quidem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat blanditiis dolor beatae, eaque minus magnam nostrum ducimus ipsam earum eveniet. Fugit ad iste asperiores voluptate atque! Ex qui soluta minima.</p>
    </div>
    <div class="dimensao">
        <h1>Dimensões:</h1>
        <p>Altura: 50cm</p>
        <p>Diametro: 20cm</p>
        <p>Cores: Azul, Verde, Amarelo e Rosa</p>
        <p>x: BLABLABLABLABLA</p>
    </div>
</div>
<br><br>
<app-footer/>



<router-outlet></router-outlet>