
<div class="header">
    <div class="esquerda">
        <a class="redes" href=""><img src="facebook.png" alt="" height="25px"></a>
        <a class="redes" href="https://www.instagram.com/sisaldecetim/" target="_blank"><img src="instagram.png" alt="" height="25px"></a>
        <a class="redes" href=""><img src="whatsapp.png" alt="" height="25px"></a>
        <a class="redes" href=""><img src="call.png" alt="" height="25px"></a>
        <p style="padding-left: 40px;">Nos visite! ^</p>
    </div>
    <div class="meio">
        <h1>Sisal de cetim</h1>
        <p>Artesanais</p>
    </div>
    <div class="direita">
        <p class="conta">Minha conta</p>
        <p>Carrinho:</p>
        <p>R$0.00</p>
    </div>
</div>
<div class="opcoes">

    <input type="text" placeholder="Pesquisar produtos...">

</div>

<div class="comprar">

    <div class="img"></div>
    <div class="info">

        <h1>Nome do produto...</h1>
        <br>
        <p>Descrição:</p>
        <br>
        <p>descriçao do produto Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto inventore voluptatem, id incidunt veniam praesentium. Aspernatur, ut saepe. Magni sint voluptas ut voluptates, quam deleniti quisquam. Voluptates totam nostrum quidem.</p>
        <br>
        <h1 class="valor">Valor: R$29,99</h1>
        <br><br><br>
        <input type="text" placeholder="CEP">
    </div>

</div>

<div class="informacao">
    <div class="desc">
        <h1>Descrição:</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate pariatur nulla officiis, eligendi deserunt quod illo expedita vel cum facere asperiores soluta tempore itaque totam, ab explicabo eos consequuntur quidem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat blanditiis dolor beatae, eaque minus magnam nostrum ducimus ipsam earum eveniet. Fugit ad iste asperiores voluptate atque! Ex qui soluta minima.</p>
    </div>
    <div class="dimensao">
        <h1>Dimensões:</h1>
        <p>Altura: 50cm</p>
        <p>Diametro: 20cm</p>
        <p>Cores: Azul, Verde, Amarelo e Rosa</p>
        <p>x: BLABLABLABLABLA</p>
    </div>
</div>
<br><br>
<div class="footer">
    <div class="circulo"></div>
    <div class="sobre">
        <p style="color: aliceblue;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet impedit sint fugit necessitatibus incidunt ullam iureadadad possimus quidem ipsam aliquid eaque vitae, accusamus rerum, quas iusto repsadadadsellat ipsum voluptatem aliquam.
        Loreadadadsadador exercitationem tempore ad laudantium porro assumenda cupiditate vel, cum ea? Nam adipisci soluta Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta aspernatur iste, mollitia doloribus consequatur asperiores deleniti! Consequuntur sit accusamus amet voluptate, autem est, aperiam dolores deserunt delectus magni consectetur at. Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi suscipit similique alias numquam sit, consequatur minima magni molestiae perspiciatis adipisci incidunt expedita, quo illum aut impedit voluptatibus pariatur voluptates nulla.</p>
    </div>
</div>



<router-outlet></router-outlet>