<app-header></app-header>

<div class="principal">
    <div class="carrinho">
        <div class="produto">
            <img class="imagem" src="*" alt="" height="100px" width="100px">
            <div class="desc">
                <h1>Nome do produto</h1>
                <p>Valor: 99.90</p>
            </div>
        </div>
        <div class="produto">
            <img class="imagem" src="*" alt="" height="100px" width="100px">
            <div class="desc">
                <h1>Nome do produto</h1>
                <p>Valor: 99.90</p>
            </div>
        </div>
        <div class="produto">
            <img class="imagem" src="*" alt="" height="100px" width="100px">
            <div class="desc">
                <h1>Nome do produto</h1>
                <p>Valor: 99.90</p>
            </div>
        </div>
        <div class="produto">
            <img class="imagem" src="*" alt="" height="100px" width="100px">
            <div class="desc">
                <h1>Nome do produto</h1>
                <p>Valor: 99.90</p>
            </div>
        </div>
        <div class="pagina">
            <-1-2-3-4->
        </div>
        <div class="divBotao">
            <button class="full-width-button">Comprar!</button>
        </div>
    </div>
</div>

<app-footer></app-footer>
<router-outlet></router-outlet>