.principal{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Cormorant Garamond", serif;
}

.carrinho{
    height: 1000px;
    width: 600px;
    background-color: aliceblue;
    border-radius: 20px;
}

.produto{
    padding: 40px;
    display: flex;
}

.imagem{
    background-color: white;
}

.desc{
    padding-left: 30px;
}

.pagina{
    display: flex;
    justify-content: center;
    align-items: center;
}

.divBotao{
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.full-width-button {

    height: 60px;
    width: 200px;
    font-family: "Cormorant Garamond", serif;
    background-color: white;
    color: #000; 
    border: none; 
    border-radius: 5px; 
    font-size: 25px; 
    cursor: pointer; 
}

.full-width-button:hover {
background-color: #333; 
}
  
