<app-header></app-header>
<div class="opcoes">

    <input type="text" placeholder="Pesquisar produtos...">

</div>

<div class="comprar">

    <div class="img"></div>
    <div class="info">

        <h1>Nome do produto...</h1>
        <h2>Descrição:</h2>
        <p>descriçao do produto Lorem ipsum, dolor sit Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim unde facere tenetur magnam? Dolorum omnis laudantium blanditiis, quas, quibusdam fugiat, quam enim possimus voluptatibus dicta debitis explicabo! Dolores, eum eveniet? amet consectetur adipisicing elit. Architecto inventore voluptatem, id incidunt veniam praesentium. Aspernatur, ut saepe. Magni sint voluptas ut voluptates, quam deleniti quisquam. Voluptates totam nostrum quidem.</p>
        <h2>Propriedades:</h2>
        <p>descriçao do produto Lorem ipsum, dolor sit Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim unde facere tenetur magnam? Dolorum omnis laudantium blanditiis, quas, quibusdam fugiat, quam enim possimus voluptatibus dicta debitis explicabo! Dolores, eum eveniet? amet consectetur adipisicing elit. Architecto inventore voluptatem, id incidunt veniam praesentium. Aspernatur, ut saepe. Magni sint voluptas ut voluptates, quam deleniti quisquam. Voluptates totam nostrum quidem.</p>
        <h1 class="valor">Valor: R$29,99</h1>
        <div class="divBotao">
            <button class="full-width-button" (click)="navigateToCarrinho()">Converse com a gente!</button>
        </div>
    </div>

</div>

<app-footer/>



<router-outlet></router-outlet>