.comprar{
  padding: 50px;
  display: flex;
}

.img{
  background-size: cover;
  object-fit: cover;
  height: 700px;
  width: 40%;
  background-color: rgb(133, 133, 133);
  border-radius: 10px;
}

.img img{
  background-size: cover;
  object-fit: cover;
  border-radius: 10px;
}

.info{
  font-family: "Cormorant Garamond", serif;
  height: 700px;
  width: 60%;
  background-color: black;
  padding: 30px;
  border-radius: 10px;
}

.info h1{
  color: #ffb222;
  font-size: 40px;
}

.info h2{
  color: #ffb222;
  font-size: 30px;
}


.info .valor{
  color: #ffb222;
  font-size: 40px;
}

.info p{
  color: #ffffff;
  font-size: 25px;
}

.informacao{
  font-family: "Cormorant Garamond", serif;
  justify-content: space-around;
  padding: 30px;
  display: flex;
}

.footer{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center; 
  background-color: #000;
  height: 1000px;
}

.circulo{
  height: 400px;
  width: 400px;
  background-color: white;
  border-radius: 100%;
}

.sobre{
  height: 400px;
  width: 900px;
  font-size: 25px;
  padding-left: 70px;
}

.divBotao{
  padding-top: 20px;
}

.full-width-button {
  height: 60px;
  width: 200px;
  font-family: "Cormorant Garamond", serif;
  background-color: white;
  color: #000; 
  border: none; 
  border-radius: 5px; 
  font-size: 25px; 
  cursor: pointer; 
}

.full-width-button:hover {
  background-color: #333; 
}
