<div class="pai">
    <div class="lista">

        <div 
        *ngIf="isLoading">Carregando...
        </div>
        
        <div *ngIf="!(isLoading || (produtos$ | async)?.length)">
            <p>Nenhum produto encontrado.</p>
        </div>

        <div *ngFor="let produto of (produtos$ | async)">
            <div class="produto">

              <div class="img">
                <img [src]="produto.imagemUrl" alt="{{ produto.nome }}" width="190px" height="190px"/>
              </div>

              <div class="info">
                <h1>{{ produto.nome }}</h1>
                <h2>R$ {{ produto.preco }}</h2>
              </div>

            </div>
        </div>

    </div>

</div>
<router-outlet></router-outlet>