.pai{
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.lista{
  border-radius: 20px;
  background-color: rgb(194, 161, 118);
  height: auto;
  width: 800px;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.produto{
  border: 5px solid rgb(194, 161, 118);;
  width: auto;
  height: 200px;
  display: flex;
  cursor: pointer;
}

.img{
  flex: 0 0 35%;
}

.img img {
  width: 100%; 
  background-size: cover;
  object-fit: cover;
  border-radius: 10px;
}

.info{
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  flex: 1;
}

