<app-header />

<div class="opcoes">
  <a routerLink="" fragment="home">HOME</a>
  <a routerLink="" fragment="velas">VELAS</a>
  <a routerLink="" fragment="fragrancias">FRAGRÂNCIAS</a>
  <a routerLink="" fragment="artesanatos">ARTESANATOS</a>
  <a routerLink="" fragment="decoracoes">DECORAÇÔES</a>
  <a routerLink="" fragment="sobre">SOBRE</a>
</div>

<section id="home">
  <div class="opcoes">
    <input type="text" placeholder="Pesquisar produtos..." />
  </div>
  <button *ngIf="showBackToTop" (click)="scrollToTop()" id="myBtn">
    <a href="#top" style="color: white"></a><i class="pi pi-arrow-up"></i>
  </button>
  <br />
  <div class="linha-com-texto">
    <div>
      <h1>Destaques da Loja!!</h1>
    </div>
  </div>
  <br />
  <div class="imagem"></div>
  <br />
</section>
<section id="velas">
  <div class="linha-com-texto">
    <div>
      <h1>Linha de Velas</h1>
      <p>Ver toda linha -></p>
    </div>
  </div>
  <div class="container">
    <div class="carrosel" *ngFor="let velas of velas">
      <div class="divImagem">
        <img [src]="velas.imagemUrl" alt="a" width="100%" height="100%" />
      </div>
      <div class="divComprar">
        <h1>{{ velas.nome }}</h1>
        <p>Valor: R${{ velas.preco }}</p>
      </div>
      <div class="divBotao">
        <button class="full-width-button" (click)="navigateToProduto()">
          Ver produto
        </button>
      </div>
    </div>
  </div>
  <br />
</section>
<section id="fragrancias">
  <div class="linha-com-texto">
    <div>
      <h1>Linha de Fragrâncias</h1>
      <p>Ver toda linha -></p>
    </div>
  </div>
  <br />
  <div class="container">
    <div class="carrosel"  *ngFor="let fragrancias of fragrancias">
      <div class="divImagem">
        <img [src]="fragrancias.imagemUrl" alt="a" width="100%" height="100%" />
      </div>
      <div class="divComprar">
        <h1>{{ fragrancias.nome }}</h1>
        <p>Valor: R${{ fragrancias.preco }}</p>
      </div>
      <div class="divBotao">
        <button class="full-width-button" (click)="navigateToProduto()">
          Ver produto
        </button>
      </div>
    </div>
  </div>
  <br />
</section>
<section id="artesanatos">
  <div class="linha-com-texto">
    <div>
      <h1>Linha de Artesanatos</h1>
      <p>Ver toda linha -></p>
    </div>
  </div>
  <br />
  <div class="container">
    <div class="carrosel" *ngFor="let artesanatos of artesanatos">
      <div class="divImagem">
        <img [src]="artesanatos.imagemUrl" alt="a" width="100%" height="100%" />
      </div>
      <div class="divComprar">
        <h1>{{ artesanatos.nome }}</h1>
        <p>Valor: R${{ artesanatos.preco }}</p>
      </div>
      <div class="divBotao">
        <button class="full-width-button" (click)="navigateToProduto()">
          Ver produto
        </button>
      </div>
    </div>
  </div>
  <br />
</section>
<section id="decoracoes">
  <div class="linha-com-texto">
    <div>
      <h1>Linha de Decorações</h1>
      <p>Ver toda linha -></p>
    </div>
  </div>
  <br />
  <div class="container">
    <div class="carrosel" *ngFor="let decoracoes of decoracoes">
      <div class="divImagem">
        <img [src]="decoracoes.imagemUrl" alt="a" width="100%" height="100%" />
      </div>
      <div class="divComprar">
        <h1>{{ decoracoes.nome }}</h1>
        <p>Valor: R${{ decoracoes.preco }}</p>
      </div>
      <div class="divBotao">
        <button class="full-width-button" (click)="navigateToProduto()">
          Ver produto
        </button>
      </div>
    </div>
  </div>
  <br />
  <br />
</section>
<section id="sobre"><app-footer /></section>
